<h1> 文章列表 </h1>
<%form_tag admin_articles_path, :method=>'get' do%>
  <%=text_field_tag :q%>
  <%=submit_tag '提交', :name=>nil%>
<%end%>
<table>
  <tr>
    <th>分类</th>
    <th>标题</th>
    <th>作者</th>
    <th>状态</th>
    <th>置顶通知</th>
    <th>评论数</th>
  </tr>

  <% for article in @articles %>
    <tr>
      <td><%= h article.category.try(:name) %></td>
      <td><%= h article.title %></td>
      <td><%= h article.author.try(:name) %></td>
      <td><%= h article.state %></td>
      <td><%= h article.sticky > 0 %></td>
      <td><%= h article.comments_count %></td>
      <td><%= link_to '查看', article if article.visible?%></td>
      <td><%= link_to '修改', edit_admin_article_path(article) if current_user.is_author?%></td>
      <td><%= link_to '管理', manage_admin_article_path(article) if current_user.is_admin?%></td>
      <td><%= link_to '删除', [:admin, article], :confirm => 'Are you sure?', :method => :delete  if current_user.is_admin?%></td>
    </tr>
  <% end %>
</table>
<%=will_paginate @articles%>
<p><%= link_to '发表文章', new_admin_article_path if current_user.is_author?%></p>
