<h1>找回密码</h1>
<% form_tag send_password_my_path do %>
  <dl>
    <dt>请输入用户名:</dt>
    <dd><%= text_field_tag 'user_name' %></dd>
    <dt>请输入注册时使用的电子邮箱:</dt>
    <dd><%= text_field_tag 'email' %></dd>
    <dt>验证码:</dt>
    <dd><%= show_simple_captcha :label => '(请输入图片中的字母)', :image_style => 'random' %>  </dd>
  </dl>
  <p><%= submit_tag '登录' %></p>
<% end %>

<%content_for :side do%>
  <%['widgets/article_orders', 'widgets/article_categories',
    'widgets/article_tags', 'widgets/article_authors', 'widgets/article_newest'].each do |widget| %>
    <%=render :partial => widget %>
  <%end%>
<%end%>
