<div id='friend_links' class="widget">
  <div class='title'>友情链接</div>
  <ul>
    <li><%=link_to '机智网', 'http://www.withost.cn', :target=>'_blank'%></li>
    <li><%=link_to "冷漠'Blog", 'http://www.lengmo.net', :target=>'_blank'%></li>
    <li><%=link_to '伤痕', 'http://www.shanghen.cn', :target=>'_blank'%></li>
    <li><%=link_to '差一点', 'http://wwww0.blog.sohu.com', :target=>'_blank'%></li>
    <li><%=link_to '残泪', 'http://canlei.org/', :target=>'_blank'%></li>
    <li><%=link_to "Windy's DataBase", 'http://www.windydata.com/', :target=>'_blank'%></li>
    <li><%=link_to "MinorityST's Dream World", 'http://www.minorityst.com/', :target=>'_blank'%></li>
  </ul>
</div>

