<div id="bottom" class="foot">
  <%=link_to '关于我们', '/pages/about'%> 
  <%=link_to '作者团队', '/authors'%>
  <%=link_to '我要投稿', '/pages/contribute'%>
  <%=link_to '版权声明', '/pages/declare'%>
  <%=link_to '反馈意见', '/pages/feedback'%>
  <%=Conf.site_stat%>
  <br/>
  <%=Conf.site_domain%>
</div>